@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/* ----------------------------------------------- */
.topic-text{
  font-size: 26px;
  font-weight: 600;
  color: #3e2093;
}
.input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.input-box input,
.input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.button{
  display: inline-block;
  margin-top: 12px;
}
.button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #fff;
  color:navy;
  border:1px solid navy;
}
.content1
{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.details{
  font-size: 15px;
  color: #3e2093;
  margin-bottom: 10px;

}
.topic{
  color:black;
  font-size: 19px;
  font-weight: 500;
}
.text-one,
.text-two{
  font-size: 14px;
  color: #afafb6;
}
.hr{
  width: 25%;
}
